## POSTTEST 2

### 1. Tampilkan rata-rata, standar deviasi, nilai minimum, nilai maksimum, Q1, Q2, dan Q3 dari attribute bertipe angka.

In [7]:
import pandas as pd
import numpy as np

fifa = pd.read_csv('Fifa 23 Players Data.csv')
fifa.describe()

,Overall,Potential,Value(in Euro),Age,Height(in cm),Weight(in kg),TotalStats,BaseStats,Wage(in Euro),Release Clause,...,LM Rating,CM Rating,RM Rating,LWB Rating,CDM Rating,RWB Rating,LB Rating,CB Rating,RB Rating,GK Rating
count,18539.000000,18539.000000,1.853900e+04,18539.000000,18539.000000,18539.000000,18539.000000,18539.000000,18539.000000,1.853900e+04,...,18539.000000,18539.000000,18539.000000,18539.000000,18539.000000,18539.000000,18539.000000,18539.000000,18539.000000,18539.000000
mean,65.852042,71.016668,2.875461e+06,25.240412,181.550839,75.173904,1602.114569,357.946221,8824.537462,5.081688e+06,...,58.451319,57.374076,58.451319,56.281569,55.928583,56.281569,55.650251,54.528184,55.650251,23.257134
std,6.788353,6.192866,7.635129e+06,4.718163,6.858097,7.013593,273.160237,39.628259,19460.531154,1.467203e+07,...,13.987122,13.171194,13.987122,13.903836,13.872190,13.903836,14.159466,14.743929,14.159466,15.108925
min,47.000000,48.000000,0.000000e+00,16.000000,155.000000,49.000000,759.000000,224.000000,0.000000,0.000000e+00,...,18.000000,18.000000,18.000000,17.000000,19.000000,17.000000,17.000000,18.000000,17.000000,10.000000
25%,62.000000,67.000000,4.750000e+05,21.000000,177.000000,70.000000,1470.000000,331.000000,1000.000000,6.650000e+05,...,54.000000,53.000000,54.000000,51.000000,48.000000,51.000000,49.000000,45.000000,49.000000,17.000000
50%,66.000000,71.000000,1.000000e+06,25.000000,182.000000,75.000000,1640.000000,358.000000,3000.000000,1.500000e+06,...,62.000000,60.000000,62.000000,59.000000,59.000000,59.000000,59.000000,58.000000,59.000000,18.000000
75%,70.000000,75.000000,2.000000e+06,29.000000,186.000000,80.000000,1786.000000,385.000000,8000.000000,3.400000e+06,...,67.000000,66.000000,67.000000,66.000000,66.000000,66.000000,65.000000,66.000000,65.000000,20.000000
max,91.000000,95.000000,1.905000e+08,44.000000,206.000000,105.000000,2312.000000,502.000000,450000.000000,3.667000e+08,...,92.000000,91.000000,92.000000,88.000000,89.000000,88.000000,87.000000,90.000000,87.000000,90.000000

### 2. Tampilkan 10 record pertama dari dataset dengan attribute bertipe angka.

In [5]:
fifa = fifa.select_dtypes(["float","int"])
fifa.head(10)

,Overall,Potential,Value(in Euro),Age,Height(in cm),Weight(in kg),TotalStats,BaseStats,Wage(in Euro),Release Clause,...,LM Rating,CM Rating,RM Rating,LWB Rating,CDM Rating,RWB Rating,LB Rating,CB Rating,RB Rating,GK Rating
0,91,91,54000000,35,169,67,2190,452,195000,99900000,...,91,88,91,67,66,67,62,53,62,22
1,91,91,64000000,34,185,81,2147,455,450000,131199999,...,89,84,89,67,67,67,63,58,63,21
2,91,91,84000000,33,185,81,2205,458,420000,172200000,...,86,83,86,67,69,67,64,63,64,22
3,91,91,107500000,31,181,70,2303,483,350000,198900000,...,91,91,91,82,82,82,78,72,78,24
4,91,95,190500000,23,182,73,2177,470,230000,366700000,...,92,84,92,70,66,70,66,57,66,21
5,90,90,115500000,30,175,71,2226,471,270000,213700000,...,90,85,90,74,71,74,70,61,70,25
6,90,91,90000000,30,199,96,1334,473,250000,191300000,...,34,35,34,32,34,32,32,32,32,90
7,90,90,13500000,36,193,93,1535,501,72000,22300000,...,47,53,47,39,46,39,38,37,38,90
8,90,90,41000000,37,187,83,2159,445,220000,77900000,...,87,81,87,65,62,65,61,56,61,23
9,90,90,98000000,30,193,92,2117,461,230000,181300000,...,73,79,73,83,88,83,85,90,85,23

### 3. Tampilkan informasi jumlah record, jumlah attribute, nama attribute, jumlah attribute dengan tipe angka. Masukkan informasi tersebut dalam dictionary dengan key sesuai nama informasinya. Tampilkan isi dari dictionary tersebut sebagus mungkin.

In [12]:
fifa = pd.read_csv('Fifa 23 Players Data.csv')
record = fifa.shape[0]
atribut = fifa.columns
objek = fifa.select_dtypes(include=object).columns
angka = fifa.select_dtypes(include=np.number).columns
Null = fifa.loc[:, fifa.isna().any()].columns

In [19]:
info = {
    'jumlah_record': record,
    'nama_atribut': atribut,
    'atribut_object': objek,
    'atribut_angka': angka,
}

print("Jumlah Record\t\t\t\t:", info['jumlah_record'])

print("="*50)
print("Jumlah Atribut\t\t\t\t:", len(info['nama_atribut']))
print("="*50)
print("No\t| Nama Atribut")
print("-"*25)
for i, atribut in enumerate(info['nama_atribut']):
    print(f"{i}\t| {atribut}")

print("\n"+"="*50)
print("Jumlah Atribut dengan Tipe Objek\t:", len(info['atribut_object']))
print("="*50)
print("No\t| Atribut Tipe Object")
print("-"*30)
for i, objek in enumerate(info['atribut_object']):
    print(f"{i}\t| {objek}")

print("\n"+"="*50)
print("Jumlah Atribut dengan Tipe Angka\t:", len(info['atribut_angka']))
print("="*50)
print("No\t| Atribut Tipe Angka")
print("-"*30)
for i, angka in enumerate(info['atribut_angka']):
    print(f"{i}\t| {angka}")

Jumlah Record				: 18539
==================================================
Jumlah Atribut				: 89
==================================================
No	| Nama Atribut
-------------------------
0	| Known As
1	| Full Name
2	| Overall
3	| Potential
4	| Value(in Euro)
5	| Positions Played
6	| Best Position
7	| Nationality
8	| Image Link
9	| Age
10	| Height(in cm)
11	| Weight(in kg)
12	| TotalStats
13	| BaseStats
14	| Club Name
15	| Wage(in Euro)
16	| Release Clause
17	| Club Position
18	| Contract Until
19	| Club Jersey Number
20	| Joined On
21	| On Loan
22	| Preferred Foot
23	| Weak Foot Rating
24	| Skill Moves
25	| International Reputation
26	| National Team Name
27	| National Team Image Link
28	| National Team Position
29	| National Team Jersey Number
30	| Attacking Work Rate
31	| Defensive Work Rate
32	| Pace Total
33	| Shooting Total
34	| Passing Total
35	| Dribbling Total
36	| Defending Total
37	| Physicality Total
38	| Crossing
39	| Finishing
40	| Heading Accuracy
41	| Short Passing
42	| Volleys
43	| Dribbling
44	| Curve
45	| Freekick Accuracy
46	| LongPassing
47	| BallControl
48	| Acceleration
49	| Sprint Speed
50	| Agility
51	| Reactions
52	| Balance
53	| Shot Power
54	| Jumping
55	| Stamina
56	| Strength
57	| Long Shots
58	| Aggression
59	| Interceptions
60	| Positioning
61	| Vision
62	| Penalties
63	| Composure
64	| Marking
65	| Standing Tackle
66	| Sliding Tackle
67	| Goalkeeper Diving
68	| Goalkeeper Handling
69	|  GoalkeeperKicking
70	| Goalkeeper Positioning
71	| Goalkeeper Reflexes
72	| ST Rating
73	| LW Rating
74	| LF Rating
75	| CF Rating
76	| RF Rating
77	| RW Rating
78	| CAM Rating
79	| LM Rating
80	| CM Rating
81	| RM Rating
82	| LWB Rating
83	| CDM Rating
84	| RWB Rating
85	| LB Rating
86	| CB Rating
87	| RB Rating
88	| GK Rating

==================================================
Jumlah Atribut dengan Tipe Objek	: 18
==================================================
No	| Atribut Tipe Object
------------------------------
0	| Known As
1	| Full Name
2	| Positions Played
3	| Best Position
4	| Nationality
5	| Image Link
6	| Club Name
7	| Club Position
8	| Contract Until
9	| Club Jersey Number
10	| On Loan
11	| Preferred Foot
12	| National Team Name
13	| National Team Image Link
14	| National Team Position
15	| National Team Jersey Number
16	| Attacking Work Rate
17	| Defensive Work Rate

==================================================
Jumlah Atribut dengan Tipe Angka	: 71
==================================================
No	| Atribut Tipe Angka
------------------------------
0	| Overall
1	| Potential
2	| Value(in Euro)
3	| Age
4	| Height(in cm)
5	| Weight(in kg)
6	| TotalStats
7	| BaseStats
8	| Wage(in Euro)
9	| Release Clause
10	| Joined On
11	| Weak Foot Rating
12	| Skill Moves
13	| International Reputation
14	| Pace Total
15	| Shooting Total
16	| Passing Total
17	| Dribbling Total
18	| Defending Total
19	| Physicality Total
20	| Crossing
21	| Finishing
22	| Heading Accuracy
23	| Short Passing
24	| Volleys
25	| Dribbling
26	| Curve
27	| Freekick Accuracy
28	| LongPassing
29	| BallControl
30	| Acceleration
31	| Sprint Speed
32	| Agility
33	| Reactions
34	| Balance
35	| Shot Power
36	| Jumping
37	| Stamina
38	| Strength
39	| Long Shots
40	| Aggression
41	| Interceptions
42	| Positioning
43	| Vision
44	| Penalties
45	| Composure
46	| Marking
47	| Standing Tackle
48	| Sliding Tackle
49	| Goalkeeper Diving
50	| Goalkeeper Handling
51	|  GoalkeeperKicking
52	| Goalkeeper Positioning
53	| Goalkeeper Reflexes
54	| ST Rating
55	| LW Rating
56	| LF Rating
57	| CF Rating
58	| RF Rating
59	| RW Rating
60	| CAM Rating
61	| LM Rating
62	| CM Rating
63	| RM Rating
64	| LWB Rating
65	| CDM Rating
66	| RWB Rating
67	| LB Rating
68	| CB Rating
69	| RB Rating
70	| GK Rating

### 4.Tampilkan nilai dataset pada baris dimulai dengan 3 digit NIM akhir hingga data terakhir dan kolom ke 4 hingga kolom terakhir menggunakan ke 2 metode slice.

In [22]:
metode1 = fifa[130:].iloc[:, 3:]
metode1

,Potential,Value(in Euro),Positions Played,Best Position,Nationality,Image Link,Age,Height(in cm),Weight(in kg),TotalStats,...,LM Rating,CM Rating,RM Rating,LWB Rating,CDM Rating,RWB Rating,LB Rating,CB Rating,RB Rating,GK Rating
130,86,52500000,"CM,CDM",CM,Belgium,https://cdn.sofifa.net/players/216/393/23_60.png,25,176,72,2187,...,82,86,82,78,81,78,76,74,76,20
131,90,62500000,"CDM,CM",CDM,Italy,https://cdn.sofifa.net/players/241/096/23_60.png,22,181,79,2225,...,81,83,81,83,84,83,82,81,82,19
132,87,56000000,"LW,LM",RM,Colombia,https://cdn.sofifa.net/players/241/084/23_60.png,25,180,73,2049,...,85,77,85,65,61,65,61,52,61,22
133,89,57500000,CB,CB,Brazil,https://cdn.sofifa.net/players/240/130/23_60.png,24,186,78,2043,...,75,75,75,83,83,83,85,86,85,22
134,90,66000000,"CM,RW",CM,Uruguay,https://cdn.sofifa.net/players/239/053/23_60.png,23,182,78,2192,...,83,85,83,83,84,83,83,80,83,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18534,56,110000,"ST,RM",CAM,Republic of Ireland,https://cdn.sofifa.net/players/243/725/23_60.png,21,174,68,1287,...,50,44,50,41,38,41,40,36,40,15
18535,57,90000,CDM,CDM,China PR,https://cdn.sofifa.net/players/261/933/23_60.png,17,175,60,1289,...,45,45,45,47,48,47,49,49,49,15
18536,67,130000,CM,RM,Northern Ireland,https://cdn.sofifa.net/players/267/823/23_60.png,18,170,65,1333,...,52,49,52,46,44,46,46,42,46,17
18537,61,100000,CB,CB,Republic of Ireland,https://cdn.sofifa.net/players/267/824/23_60.png,17,178,65,1113,...,33,33,33,44,42,44,47,49,47,15
18538,50,60000,LB,LB,India,https://cdn.sofifa.net/players/261/424/23_60.png,25,176,66,1277,...,44,40,44,46,43,46,47,47,47,19

In [28]:
metode2 = fifa.loc[130:, "Age":]
metode2

,Age,Height(in cm),Weight(in kg),TotalStats,BaseStats,Club Name,Wage(in Euro),Release Clause,Club Position,Contract Until,...,LM Rating,CM Rating,RM Rating,LWB Rating,CDM Rating,RWB Rating,LB Rating,CB Rating,RB Rating,GK Rating
130,25,176,72,2187,446,Leicester City,115000,103700000,CM,2023,...,82,86,82,78,81,78,76,74,76,20
131,22,181,79,2225,475,AC Milan,75000,118800000,CM,2027,...,81,83,81,83,84,83,82,81,82,19
132,25,180,73,2049,440,Liverpool,155000,107800000,LW,2027,...,85,77,85,65,61,65,61,52,61,22
133,24,186,78,2043,445,Real Madrid CF,160000,122200000,SUB,2025,...,75,75,75,83,83,83,85,86,85,22
134,23,182,78,2192,478,Real Madrid CF,175000,148500000,SUB,2027,...,83,85,83,83,84,83,83,80,83,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18534,21,174,68,1287,274,Sligo Rovers,500,193000,RES,2022,...,50,44,50,41,38,41,40,36,40,15
18535,17,175,60,1289,267,Guangzhou FC,500,158000,SUB,2023,...,45,45,45,47,48,47,49,49,49,15
18536,18,170,65,1333,277,Derry City,500,332000,SUB,2023,...,52,49,52,46,44,46,46,42,46,17
18537,17,178,65,1113,226,Derry City,500,218000,SUB,2024,...,33,33,33,44,42,44,47,49,47,15
18538,25,176,66,1277,269,NorthEast United FC,500,86000,RES,2023,...,44,40,44,46,43,46,47,47,47,19

### 5. Tampilkan jumlah label dari semua attribute yang bernilai object.

In [25]:
fifa = pd.read_csv('Fifa 23 Players Data.csv')
objek = fifa.select_dtypes(include=['object'])
jumlah_objek = objek.nunique()

tabel = pd.DataFrame({
    'Nama Atribut': jumlah_objek.index, 
    'Total Nilai': jumlah_objek.values})

print(tabel)

                   Nama Atribut  Total Nilai
0                      Known As        17530
1                     Full Name        18337
2              Positions Played          693
3                 Best Position           15
4                   Nationality          160
5                    Image Link        18420
6                     Club Name          679
7                 Club Position           20
8                Contract Until           10
9            Club Jersey Number          100
10                      On Loan            2
11               Preferred Foot            2
12           National Team Name           36
13     National Team Image Link           48
14       National Team Position           18
15  National Team Jersey Number           29
16          Attacking Work Rate            3
17          Defensive Work Rate            3